@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Error en la comunicación</h1>
    <p class="lead">
        <b style="color:red">Verifique su conexión a internet y vuelva a intentarlo. De ser necesario cierre y vuelva iniciar sesión.</b>
        <br />
    <p>
        <button type="button" class="btn btn-primary btn-lg" onclick="history.back()"> <span class="glyphicon glyphicon-backward"> Volver </span></button>

    </p>

</div>



