<div class="panel panel-default" background-color: style="opacity:0.9" ;>
    <div class="panel panel-heading" style="background-color:#3c8dbc">
        <b style="color:aliceblue"> <span class="glyphicon glyphicon-edit"> </span>   <span class="glyphicon glyphicon-lock">  </span>  ACTUALIZACIÓN DE CREDENCIALES DE ACCESO</b>
    </div>
    <div class="panel-body">

        <div>
            <img src="~/img/Logo3.png" sizes="1%" />
        </div>
        <br />
        @using (Html.BeginForm("UpdatePassword", "Acceso", FormMethod.Post))
        {
        <div class="form-group-lg">
            @*<form action="@Url.Content("~/Login")" method="post">*@


            @*<div class="form-group">

            <h1 class="h3 mb-3 font-weight-normal">Usuario</h1>
            <br />
            <input type="text" name="User" placeholder="Usuario" required autofocus />
        </div>*@

            <br />
            @if (ViewBag.confirm != "")
            {

                <p style="color:darkblue">@ViewBag.confirm</p>
            }

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user" ></i></span>
                <input id="User" type="text" class="form-control" name="User" placeholder="Confirmar usuario" required autofocus>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="Pass" type="password" class="form-control" name="Pass" placeholder="Contraseña actual">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-unchecked"></i></span>
                <input id="Pass" type="password" class="form-control" name="NewPass" placeholder="Nueva contraseña">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
                <input id="Pass" type="password" class="form-control" name="NewPassConfirm" placeholder="Confirmar contraseña">
            </div>


            <div class="form-group">
                @*<input type="submit" value="Entrar" class="btn btn-success" />*@
                <br />
                <br />
                <input value="ACTUALIZAR" class="btn btn-success" type="submit" />&nbsp; &nbsp;&nbsp; &nbsp;
                <input value="LIMPIAR DATOS" class="btn btn-danger" type="submit" onclick="@Url.Action("Index","Acceso","")" />


                @if (ViewBag.Error != "")
                {

                    <br />
                    <br />
                    <p style="color:red">@ViewBag.Error</p>
                }



            </div>
            @*</form>*@

        </div>

        }


    </div>
</div>
