@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GESTIÓN DEL STOCK</h1>
    <p class="lead">
        <b> ÁREA DE VENTAS MINORISTA</b>
        <br />
        “Desde este módulo se podrá realizar tareas de control y reposición de stock para el canal de venta minorista”
    </p>
    <p><a href="https://www.facebook.com/GrupoGaldiaz" class="btn btn-primary btn-lg">Acerca de nosotros &raquo;</a></p>
</div>